[Desktop Entry]
Encoding=UTF-8
Name=Link to aPET - YouTube
Type=Link
URL=http://tools.hats-project.eu/movies/installplugin.mp4
Icon=text-html
Name[en_US]=YoutubeDemo
